



<div class="clear_float"></div>

<div class="download_container">

    <div class="why_free">
     <p>Fur Eel would like to give you their new album 'Perhaps Another Time' for free.</p>
     <p>All we ask is for you to give us some information so that we can let you know when
        we are coming through your city, or when we have new free content</p>
     <p>We will not spam you or release your information to anyone else.</p>
    </div>

    <div class="album_art_dl">
        <h1>FREE ALBUM DOWNLOAD</h1><br/>
        <img src="/images/pat.jpg" border="0px"/><br/>
    </div>
    <div class="donate">
        <p>If you like the music, please feel free to donate some money to keep us going!</p>
        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="8K9YBBFEBLMHE">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>







    <iframe class="new_fan" src="/fans/new"></iframe>

    <div class="clear_float"></div>


<p><%= link_to "Continue on to fureelmusic.com", home_path %> </p>

</div>









