<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	
  <img src="http://www.fureelmusic.com/images/fur_eel_logo.png"  alt="Fur Eel" align="middle"/>
  <p>Hello <%= @fan.email %>, </p>
    <p>
      Thanks for downloading our new album 'Perhaps Another Time' and joining the Fur Eel mailing list.</p>
      <p>We have no intention of spamming you or sending you anything you don't want, we will only contact you
        if we have more free music or if we are playing a show in your home town.</p>
        <p>Enjoy the music</p>
        <p> - Fur Eel </p>
	  <p><a href="http://www.fureelmusic.com" target="blank">fureelmusic.com</a></p>

  </body>
</html>