<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	
    <img src="http://www.fureelmusic.com/images/fur_eel_logo.png"  alt="Fur Eel" align="middle"/>
  <p>hello <%= @friend.email %> </p>
    <p>One of your friends thought you might like some free music from Fur Eel.  Follow the link below for a free download of the brand new album 'Perhaps Another Time'.  Have a great day!</p>
        <p> - Fur Eel </p>
    <p><a href="http://www.fureelmusic.com" target="blank">fureelmusic.com</a></p>

  </body>
</html>