



<div>
	<% (0..@tags.length-1).each do |i| %>
		<b><%= @tags[i].tag.upcase%></b><br/>
		<% @pictures.each do |picture| %>
			<% if picture.tag == @tags[i].tag %>
				<div class="photo_thumb">
					<%= link_to image_tag(picture.photo.url(:thumb), :border=>0), picture %>
				</div>
			 <% end %> 
		<% end %>
		
		<div class="clear_float"></div><hr />
	<% end %>
</div>



<br />


